boto3==1.17.53
botocore==1.20.53
click==7.1.2
Flask==1.1.2
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
python-dateutil==2.8.1
s3transfer==0.3.7
six==1.15.0
urllib3==1.26.4
Werkzeug==1.0.1
WTForms==2.3.3
