<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title == None %}
            <title>Home Page</title>
        {% else %}
            <title>{{ title }}</title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='page.css') }}">
    </head>
    <body>
	    <div class="container">
	    	<h1>Amazon rekognition demo app</h1>
		<div class="pic">
		    {% if name == None %}
                        <img src="{{ url_for('static', filename='images/test2.jpg') }}"/>
		    {% else %}
		        <img src="{{ url_for('static', filename='images/' + name) }}"/>
		    {% endif %}
                </div>
		<form action="" method="post" enctype="multipart/form-data">
            	    {{ form.hidden_tag() }}
		    <fieldset class="profile">
			{{ form.image.label(class="form-label") }}
			{{ form.image(class="form-control") }}
			{% if form.image.errors %}
			   {%  for error in form.image.errors %}
			   	<span style="color:red;">{{ error }}</span>
				<br>
			   {% endfor %}
			{% endif %}
		    </fieldset>
		    <div class="form-group">
			{{ form.submit(class="profile_btn") }}
		    </div>
		 </form>
	    </div>
	    <div class="container">
		<h1>Result</h1>
		{% if labels != None %}
		    <table>
		        <tr>
			    <th> Label name </th>
		   	    <th> Confidence </th>
		        </tr>
			{% for label in labels %}
	   	        <tr>
			    <td> {{ label["Name"] }} </td>
		            <td> {{ label["Confidence"] }} </td>
		    	</tr>
			{% endfor %}
    		    </table>
		{% endif %}
	    </div>
    </body>
</html>
